{% extends 'indexbase.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}


{% block articles%}
<div class="container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4  justify-items-center">
    {% for ensemble in ensembles %}
    <!-- component -->
    <div>
      <div class="max-w-xs bg-white shadow-lg rounded-lg overflow-hidden my-10">
          <div class="px-4 py-2 flex justify-center">
            <h1 class="text-gray-900 font-bold text-sm uppercase">#{{ensemble.styles[0].Nom}}</h1>
          </div>
          <img class="h-full w-full object-cover mt-2" src="{{ vich_uploader_asset(ensemble, 'imageFile') }}" alt="NIKE AIR">
          <div class="flex items-center justify-between px-4 py-2 bg-cyan">
            <h1 class="text-black font-bold text-xl">{{ensemble.Prix}}£</h1>
            <button class="px-4 py-1 bg-black text-sm text-white font-semibold  rounded-full"><a href="{{path('hommeStyles')}}"> En savoir plus</a></button>
          </div>
      </div>
    </div>
    {% endfor %}
    
  </div>
{% endblock %}

