{% extends 'base.html.twig' %}

{% block title %}Edit Ensembles{% endblock %}

{% block body %}
    <h1>Edit Ensembles</h1>

    {{ include('ensembles/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ensembles_index') }}">back to list</a>

    {{ include('ensembles/_delete_form.html.twig') }}
{% endblock %}
