{% extends 'base.html.twig' %}

{% block title %}New Ensembles{% endblock %}

{% block body %}
    <h1>Create new Ensembles</h1>

    {{ include('ensembles/_form.html.twig') }}

    <a href="{{ path('ensembles_index') }}">back to list</a>
{% endblock %}
