{% extends 'base.html.twig' %}

{% block title %}Hello UtilisateursController!{% endblock %}

{% block body %}
<div class="container max-w-full mx-auto py-24 px-6">
{{form(form)}}
</div>
{% endblock %}
