@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.bg-cyan {
    --tw-bg-opacity: 1;
    background-color: rgba(77, 200, 200, var(--tw-bg-opacity));
  }
.text-cyan {
  --tw-text-opacity: 1;
  color: rgba(77, 200, 200, var(--tw-text-opacity));
}

#slider{  
  -webkit-appearance: none;
  width: 25%;
  height: 30px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;
}