{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}


{% block stylesheets %}  {{ encore_entry_link_tags('app') }} {% endblock %}

{% block body %}

<div class="bg-cover bg-center  h-auto text-white py-24 px-10 object-fill" style="background-image: url(https://images.unsplash.com/photo-1558981806-ec527fa84c39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)">
       <div class="md:w-1/2">
        <p class="font-bold text-sm uppercase">Services</p>
        <p class="text-3xl font-bold">Multimedia products</p>
        <p class="text-2xl mb-10 leading-none">Atractive designs for your brand</p>
        <a href="#" class="bg-cyan py-4 px-8 text-white font-bold uppercase text-xs rounded hover:bg-gray-200 hover:text-gray-800">Contact us</a>
        </div>  
</div>
<div class="flex border justify-center ">
  <button id="btnFilter" class="flex w-8/12 xsm:w-6/12 sm:w-5/12 md:w-4/12 xl:w-3/12 m-4 focus:outline-none" >
    <img class="w-1/12 h-4/6 mt-1 mx-4" src="{{ asset('build/img/setings.png') }}">
    <a >FILTRER LES TENUES</a>
    <img id="SvgFiltre" class="w-2/12 lg:w-1/12 h-3/6 mt-2 mx-2 px-2" src="{{ asset('build/img/dropdown.png') }}">  
  </button>
</div>
<div id="filter" class="w-full hidden">
  <div class="border flex-row flex-nowrap overscroll-none">
    <div >
      <h1 class="m-2 text-xs text-cyan font-bold">BUDGET</h1>
    </div>
    <form>
    <div class="flex overflow-x-auto w-screen">
      <div class="mt-2 mb-4 mx-4 borer-2 border border-cyan px-4 py-1 bg-white w-48 h-16 text-sm text-cyan font-normal text-center items-center flex justify-center " href="">
        <input class="hidden" type="checkbox" id="x" name="x" value="x">
        <label for="x">Tenues populaires</label>
      </div>
      <div class="mt-2 mb-4 mx-4 borer-2 border border-cyan px-4 py-1 bg-white w-48 h-16 text-sm text-cyan font-normal text-center items-center flex justify-center " href="">
        <input class="hidden" type="checkbox" id="x" name="x" value="x">
        <label for="x">Tenues Pour Moi</label>
      </div>
      <div class="mt-2 mb-4 mx-4 borer-2 border border-cyan px-4 py-1 bg-white w-48 h-16 text-sm text-cyan font-normal text-center items-center flex justify-center " href="">
        <input class="hidden" type="checkbox" id="x" name="x" value="x">
        <label for="x">TOUTES LES TENUES</label>
      </div>
      <div class="mt-2 mb-4 mx-4  borer-2 border border-cyan px-4 py-1 bg-white w-48 h-16 text-sm text-cyan font-normal text-center items-center flex justify-center " href="">
        <input class="hidden" type="checkbox" id="x" name="x" value="x">
        <label for="x">STYLES SUIVIS</label>
      </div>
    </div>
    </form>
    <div class="flex overflow-x-auto w-screen">
      <div class="mt-2 mb-4 mx-4 borer-2 border border-cyan px-4 py-1 bg-white w-48 h-16 text-sm text-cyan font-normal text-center items-center flex justify-center " href="">
        <input class="hidden" type="checkbox" id="x" name="x" value="x">
        <label for="x">sdfsdfsdfsd f</label>
      </div>
      <div class="mt-2 mb-4 mx-4 borer-2 border border-cyan px-4 py-1 bg-white w-48 h-16 text-sm text-cyan font-normal text-center items-center flex justify-center " href="">
        <input class="hidden" type="checkbox" id="x" name="x" value="x">
        <label for="x">sdfsdfsdfsd f</label>
      </div>
      <div class="mt-2 mb-4 mx-4 borer-2 border border-cyan px-4 py-1 bg-white w-48 h-16 text-sm text-cyan font-normal text-center items-center flex justify-center " href="">
        <input class="hidden" type="checkbox" id="x" name="x" value="x">
        <label for="x">sdfsdfsdfsd f</label>
      </div>
      <div class="mt-2 mb-4 mx-4 borer-2 border border-cyan px-4 py-1 bg-white w-48 h-16 text-sm text-cyan font-normal text-center items-center flex justify-center " href="">
        <input class="hidden" type="checkbox" id="x" name="x" value="x">
        <label for="x">sdfsdfsdfsd f</label>
      </div>
      <div class="mt-2 mb-4 mx-4 borer-2 border border-cyan px-4 py-1 bg-white w-48 h-16 text-sm text-cyan font-normal text-center items-center flex justify-center " href="">
        <input class="hidden" type="checkbox" id="x" name="x" value="x">
        <label for="x">sdfsdfsdfsd f</label>
      </div>
      <div class="mt-2 mb-4 mx-4 borer-2 border border-cyan px-4 py-1 bg-white w-48 h-16 text-sm text-cyan font-normal text-center items-center flex justify-center " href="">
        <input class="hidden" type="checkbox" id="x" name="x" value="x">
        <label for="x">sdfsdfsdfsd f</label>
      </div>
      <div class="mt-2 mb-4 mx-4 borer-2 border border-cyan px-4 py-1 bg-white w-48 h-16 text-sm text-cyan font-normal text-center items-center flex justify-center " href="">
        <input class="hidden" type="checkbox" id="x" name="x" value="x">
        <label for="x">sdfsdfsdfsd f</label>
      </div>
      <div class="mt-2 mb-4 mx-4 borer-2 border border-cyan px-4 py-1 bg-white w-48 h-16 text-sm text-cyan font-normal text-center items-center flex justify-center " href="">
        <input class="hidden" type="checkbox" id="x" name="x" value="x">
        <label for="x">sdfsdfsdfsd f</label>
      </div>
      <div class="mt-2 mb-4 mx-4 borer-2 border border-cyan px-4 py-1 bg-white w-48 h-16 text-sm text-cyan font-normal text-center items-center flex justify-center " href="">
        <input class="hidden" type="checkbox" id="x" name="x" value="x">
        <label for="x">sdfsdfsdfsd f</label>
      </div>
      <div class="mt-2 mb-4 mx-4 borer-2 border border-cyan px-4 py-1 bg-white w-48 h-16 text-sm text-cyan font-normal text-center items-center flex justify-center " href="">
        <input class="hidden" type="checkbox" id="x" name="x" value="x">
        <label for="x">sdfsdfsdfsd f</label>
      </div>
      <div class="mt-2 mb-4 mx-4 borer-2 border border-cyan px-4 py-1 bg-white w-48 h-16 text-sm text-cyan font-normal text-center items-center flex justify-center " href="">
        <input class="hidden" type="checkbox" id="x" name="x" value="x">
        <label for="x">sdfsdfsdfsd f</label>
      </div>
      <div class="mt-2 mb-4 mx-4 borer-2 border border-cyan px-4 py-1 bg-white w-48 h-16 text-sm text-cyan font-normal text-center items-center flex justify-center " href="">
        <input class="hidden" type="checkbox" id="x" name="x" value="x">
        <label for="x">sdfsdfsdfsd f</label>
      </div>
      <div class="mt-2 mb-4 mx-4 borer-2 border border-cyan px-4 py-1 bg-white w-48 h-16 text-sm text-cyan font-normal text-center items-center flex justify-center " href="">
        <input class="hidden" type="checkbox" id="x" name="x" value="x">
        <label for="x">sdfsdfsdfsd f</label>
      </div>
      <div class="mt-2 mb-4 mx-4 borer-2 border border-cyan px-4 py-1 bg-white w-48 h-16 text-sm text-cyan font-normal text-center items-center flex justify-center " href="">
        <input class="hidden" type="checkbox" id="x" name="x" value="x">
        <label for="x">sdfsdfsdfsd f</label>
      </div>
     
    </div>
  </div>
</div>
{% block articles%}

{% endblock %}

{% endblock %}

{% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
